$primary: #76b82a;
$secondary: #a9a9a9;
$lightgreen: #d2e8b7; // eef6e4
$lightergreen: #ecf4e2;
$black: #070d0d;
$lightgray: #d1d1d1;
$lightergray: #f4f4f4;
$darkgray: #575350;
$darkergray: #4a4643; //a5a3a1

$spacer: 1.25rem; // 1rem
$grid-gutter-width: 1.875rem !default; // 1.5rem

$paragraph-margin-bottom: 1.25rem !default;

$headings-margin-bottom: $spacer  !default;

@import '/node_modules/bootstrap/scss/bootstrap';

@import 'custom';

@import 'header';
@import 'main';
@import 'footer';

@import 'keen-slider-custom';
@import 'mmenu-custom';