$primary: #76b82a;
$lightgreen: #d2e8b7;
$lightergreen: #ecf4e2;
$black: #070d0d;

@import '/node_modules/bootstrap/scss/bootstrap';

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #c7d9e2;
}

.sticky-top {
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
}

.btn {
  border-radius: 0;
  &.btn-primary {
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
  }
}

.btn-sm {
  padding: 0.65rem 1.35rem;
}

.top-info-box {
  background-color: $lightgreen;
  .content {
    margin: 15px 10px 15px 0;
    font-weight: 300;
    line-height: 1.3;
  }
  .close-button {
    margin-top: 15px;
    font-size: 0.8rem;
  }
}

.navbar {
  background-color: #fff;
  padding-top: 0;
  padding-bottom: 0;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.1);
  .container {
    display: flex;
    flex-wrap: inherit;
    justify-content: space-between;
    align-items: stretch;
    .navbar-brand {
      transition: 0.2s;
      padding: 0.6rem 0 0.9rem;
      width: 100px;
      @include media-breakpoint-up(md) {
        width: 160px;
      }
    }
    .navbar-toggler-wrapper {
      display: flex;
      align-items: center;
      .navbar-toggler {
        border: none;
        padding: 0;
        div {
          width: 32px;
          height: 3px;
          background-color: $black;
          margin: 8px 0;
        }
        &:focus {
          box-shadow: none;
        }
      }
    }
    .navbar-collapse {
      justify-content: end;
      align-items: stretch;
      .navbar-nav {
        align-items: stretch;
        .nav-item {
          display: flex;
          align-items: stretch;
          .nav-link {
            display: flex;
            align-items: center;
            font-size: 21px;
            font-weight: 600;
            text-transform: uppercase;
            padding: 0;
            padding-top: 8px;
            padding-bottom: 8px;
            margin-right: 47px;
            color: $black;
            &.active {
              border-top: 8px solid $primary;
              padding-top: 0;
              color: $primary;
            }
            &:hover {
              color: $primary;
            }
            /*@include media-breakpoint-up(md) {
              .dropdown-menu {
                display: none;
              }
              &:hover {
                .dropdown-menu {
                  display: block;
                  top: 100%;
                  left: 0;
                  margin-top: 0;
                }
              }
            }*/
          }
        }
      }
      .nav-button {
        display: flex;
        align-items: center;
      }
    }
  }
  &.shrink {
    .navbar-brand {
      width: 85px;
      padding: 0.4rem 0 0.6rem;
      @include media-breakpoint-up(md) {
        width: 100px;
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .dropdown:hover .dropdown-menu {
    display: block;
    top: 100%;
    margin-top: 0;
  }
  .dropdown-menu[data-bs-popper] {
    margin-top: 0;
  }
  .dropdown .dropdown-menu {
    display: none;
  }
}

main {
  margin: 3% 0;
  min-height: 175rem;
}

@import 'mmenu-custom.scss';
